@use "../../abstracts" as *;

.banner {
  background: var(--c-brand);
  color: var(--c-white);

  @include screen(lg) {
    padding: 6rem 100px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
    max-width: 1250px;

    @include screen(md) {
      flex-direction: row;
      padding: 4rem 10%;
    }

    @include screen(lg) {
      padding: 0;
      gap: min(4rem, 10%);
    }

    .text-container {
      text-align: center;
      max-width: 400px;

      @include screen(md) {
        text-align: left;
        max-width: 750px;
      }

      @include screen(lg) {
      }

      h3 {
        letter-spacing: normal;
        font-weight: 700;
        margin-bottom: 0.5em;
        text-transform: none;
        font-size: 2.2rem;

        @include screen(md) {
          font-size: 3rem;
        }
        @include screen(lg) {
          font-size: 4rem;
        }
      }

      p {
        font-size: 1.4rem;
        // // text-wrap: balance;

        @include screen(md) {
          font-size: 1.6rem;
        }
      }
    }

    .button {
      background: var(--c-white);
      color: var(--c-brand);
      text-wrap: nowrap;

      &::before,
      &::after {
        border-color: var(--c-white);
      }
    }
  }
}
