@use "../../abstracts" as *;

section#contact {
  .top-container {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      max-width: 1200px;
      padding: 20px;

      @include screen(md) {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 50px 20px;
      }

      @include screen(lg) {
        gap: 35px;
        padding: 70px;
      }

      .contact-card {
        background: var(--c-alt-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        text-align: center;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;

        @include screen(md) {
          padding: 20px;
        }

        @include screen(lg) {
          padding: 35px;
        }

        a,
        span {
          color: currentColor;
          letter-spacing: 0.1em;
          text-wrap: pretty;
          font-size: 1.4rem;

          @include screen(lg) {
            font-size: 1.6rem;
          }
        }

        .icon-container {
          max-height: 4rem;
          max-width: 4rem;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .bottom-container {
    display: grid;
    grid-template-columns: 1fr;

    @include screen(md) {
      grid-template-columns: 1fr 1fr;
    }
    .form-container {
      background: var(--c-alt-background);
      padding: 50px 20px;

      @include screen(md) {
        padding: 30px;
      }

      @include screen(lg) {
        padding: 70px;
      }

      .title-container {
        max-width: 700px;
        margin: 0 auto 35px;

        h2 {
          span {
            font-size: inherit;
          }
        }
      }

      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 700px;
        margin: 0 auto;

        input,
        textarea {
          border: none;
          padding: 15px;
          appearance: none;
          -webkit-appearance: none;
          background: var(--c-white);
          width: 100%;
          font-size: 1.4rem;

          @include screen(lg) {
            font-size: 1.6rem;
          }

          &.name,
          &.subject,
          &.message {
            grid-column: span 2;
          }

          &:focus {
            outline: none;
          }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px var(--c-white) inset !important;
        }

        button {
          margin: 1em auto 0;
          grid-column: span 2;

          @include screen(md) {
            margin-left: unset;
            margin-right: unset;
            grid-column: span 1;
          }
        }
      }
    }

    .map-container {
      iframe {
        width: 100%;
        height: 100%;
        min-height: 500px;
        outline: none;
        border: 0;

        .gm-style iframe + div {
          opacity: 0 !important;
          border: none !important;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}
