@use "../../abstracts" as *;

section#team {
  background: var(--c-alt-background);

  .container {
    .title-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: var(--site-padding-bottom);
    }

    .team-cards {
      max-width: 1200px;
      margin: 0 auto;

      .card {
        display: grid;
        grid-template-rows: 1fr auto;
        background: var(--c-white);
        max-width: 450px;
        transition: 0.2s ease;
        margin: 0 auto;

        .image-container {
          position: relative;
          max-height: 400px;

          .bg-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .icon-container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(50%);
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            background: var(--c-brand);
            border-radius: 50%;
            padding: 1em;
            aspect-ratio: 1/1;

            img {
              max-width: 40px;
              max-height: 40px;

              @include screen(md) {
                max-width: 30px;
                max-height: 30px;
              }

              @include screen(lg) {
                max-width: 40px;
                max-height: 40px;
              }
            }
          }
        }

        .text-container {
          padding: 20px;
          text-align: center;
          max-width: 500px;
          margin: 0 auto;

          h3 {
            position: relative;
            margin-bottom: 0.75em;
            font-weight: 700;
            letter-spacing: normal;
          }

          p {
            color: var(--c-alt-text);
            font-size: 1.8rem;
            line-height: 1.4;
          }

          p.job-title {
            position: relative;
            margin-bottom: 2em;
            font-size: 1.6rem;

            &::after {
              content: "";
              position: absolute;
              bottom: -15px;
              left: 0;
              right: 0;
              margin: auto;
              width: 50px;
              height: 2px;
              background: var(--c-brand);
            }
          }
        }
      }
    }
  }
}
