<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ description }}">
  
  <title>{{title}}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">

  <link rel="stylesheet" href="/css/plugins/swiper.bundle.min.css" defer/>
  <link rel="stylesheet" href="/style.css" />
</head>

<body data-page="{% if page.url == '/' %}{{ 'home' }}{% else %}{{ page.url | replace('/', '') }}{% endif %}">

  {% include 'header.njk' %}
  <main>
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
  
  <script src="/js/scripts.min.js" type="module"></script>
  
</body>

</html>