{% if page.url != '/contact/' %}
  <section id="footer-hero">
  <div class="container">
    <h2>Title About Getting in Touch Today</h2>
    <p>
      Tagline to get the user to visit the contact page and get in touch
      or get a quote etc.
    </p>
    <a href="/contact" class="button">Contact Us</a>
  </div>
</section>
{% endif %}

<footer>
  <div class="container">
    <div class="logo">
      <img src="/assets/svg/logo.svg" alt="" />
      <span class="bold">LOGO</span>
    </div>
    <div class="menus">
      <div class="menu menu-1">
        <span class="menu-title bold">Menu</span>
        <ul class="footer-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="menu menu-2">
        <span class="menu-title bold">Contact</span>
        <ul class="footer-menu">
          <li>
            <p>123 Example Street</p>
            <p>City EX4 MPL</p>
          </li>
          <li><a href="tel:01234567890">+44 1234 567 890</a></li>
          <li>
            <a href="mailto:example@example.com">example@example.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="social-links">
      <ul>
        <li class="social-link facebook">
          <a href="#" target="_blank"><img src="/assets/svg/facebook.svg" alt="" /></a>
        </li>
        <li class="social-link instagram">
          <a href="#" target="_blank"><img src="/assets/svg/instagram.svg" alt="" /></a>
        </li>
        <li class="social-link twitter">
          <a href="#" target="_blank"><img src="/assets/svg/twitter.svg" alt="" /></a>
        </li>
        <li class="social-link youtube">
          <a href="#" target="_blank"><img src="/assets/svg/youtube.svg" alt="" /></a>
        </li>
      </ul>
    </div>

    <div class="subfooter">
      <div class="designer">
        <span>Designed and built by
          <a href="#" target="_blank">Adam Hills</a></span>
      </div>
      <div class="copyright"><span>&copy; Copyright</span></div>
    </div>
  </div>
</footer>