<header>
  <div class="site-logo">
    <a href="/">
      <img src="/assets/svg/logo.svg" alt=""/>
      <span class="bold">LOGO</span>
    </a>
  </div>
  <input type="checkbox" id="nav-toggle" class="nav-toggle"/>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About Us</a>
      </li>
      <li>
        <a href="/services">Services</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span class="toggle-line"></span>
    <span class="toggle-line"></span>
    <span class="toggle-line"></span>
  </label>
</header>