@use "../../abstracts" as *;

section#footer-hero {
  position: relative;
  background-image: url(assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    color: var(--c-white);
    max-width: 500px;
    margin: 0 auto;

    @include screen(lg) {
      max-width: 735px;
    }

    p {
      font-size: 16px;

      @include screen(md) {
        font-size: 20px;
      }
    }
  }
}
