@use "../../abstracts" as *;

section#hero {
  position: relative;
  background-image: url(/assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  height: clamp(650px, 100dvh, 800px);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .hero-content {
    position: relative;
    top: 50px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    z-index: 2;
    color: var(--c-white);
    text-align: center;
    padding: var(--site-padding);
    max-width: 1000px;
    margin: 0 auto;

    h1 {
      position: relative;

      &::after {
        content: "";
        width: 100px;
        height: 4px;
        background: var(--c-brand);
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    p {
      font-size: var(--fs-subtitle);
      line-height: var(--lh-subtitle);
      margin: 0 auto;
      max-width: 80%;

      @include screen(lg) {
        max-width: 700px;
      }
    }
  }

  &.alt-hero {
    height: clamp(250px, 100dvh, 400px);
    background-image: url(/assets/images/project-example4.jpg);

    @include screen(lg) {
      height: clamp(350px, 100dvh, 500px);
    }
    h1 {
      &::after {
        content: unset;
      }
    }
  }
}
