@use "../../abstracts" as *;

section#project-examples {
  display: flex;
  flex-direction: column;

  @include screen(md) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .project {
    position: relative;
    &:last-of-type {
      display: none;

      @include screen(md) {
        display: block;
      }
    }

    .image-container {
      width: 100%;
      height: 100%;
      aspect-ratio: 4/3;
      max-height: 450px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-of-type(1) {
      z-index: 4;
    }
    &:nth-of-type(2) {
      z-index: 3;
    }
    &:nth-of-type(3) {
      z-index: 2;
    }
    &:nth-of-type(4) {
      z-index: 1;
    }
  }
}
