@use "../../abstracts" as *;

section#reviews {
  background: var(--c-alt-background);

  .container {
    .title-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: var(--site-padding-bottom);
    }

    .reviews-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: var(--gap);

      @include screen(md) {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
      }

      @include screen(lg) {
        gap: 35px;
      }

      .card {
        display: grid;
        grid-template-rows: 1fr auto;
        background: var(--c-white);
        max-width: 380px;
        transition: 0.2s ease;
        padding: 20px;
        flex: 1;
        margin: 0 auto;

        @include screen(md) {
          margin: unset;
        }

        .review-text {
          position: relative;
          height: fit-content;

          &::after {
            content: "";
            position: absolute;
            bottom: -1em;
            left: 0;
            width: 50px;
            height: 2px;
            background-color: var(--c-brand);
          }
        }

        .reviewer-container {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-top: 40px;

          .image-container {
            border-radius: 50%;
            overflow: hidden;
            height: 60px;
            width: 60px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .text-container {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
              margin: 0;

              &.name {
                font-size: 14px;
              }

              &.occupation {
                font-size: 12px;
                color: var(--c-alt-text);
              }
            }
          }
        }
      }
    }
  }
}
