@use "../../abstracts" as *;

section#services {
  background: var(--c-alt-background);

  .container {
    .title-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: var(--site-padding-bottom);
    }

    .service-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--gap);

      @include screen(md) {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
      }

      @include screen(lg) {
        gap: 35px;
      }

      a {
        color: currentColor;
      }

      .card {
        display: grid;
        grid-template-rows: 1fr auto;
        background: var(--c-white);
        max-width: 450px;
        cursor: pointer;
        transition: 0.2s ease;

        &:hover {
          box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.1);

          .text-container {
            .circles-container {
              .circle {
                background-color: var(--c-brand);
              }
            }
          }
        }

        .image-container {
          position: relative;
          max-height: 400px;

          .bg-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .icon-container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(50%);
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            background: var(--c-brand);
            border-radius: 50%;
            padding: 1em;
            aspect-ratio: 1/1;

            img {
              max-width: 40px;
              max-height: 40px;

              @include screen(md) {
                max-width: 30px;
                max-height: 30px;
              }

              @include screen(lg) {
                max-width: 40px;
                max-height: 40px;
              }
            }
          }
        }

        .text-container {
          padding: 60px 20px 20px;
          text-align: center;
          max-width: 500px;
          margin: 0 auto;

          h3 {
            position: relative;
            margin-bottom: 35px;

            @include screen(md) {
              font-size: 16px;
            }

            @include screen(lg) {
              font-size: var(--fs-h3);
            }

            &::after {
              content: "";
              position: absolute;
              bottom: -15px;
              left: 0;
              right: 0;
              margin: auto;
              width: 50px;
              height: 2px;
              background: var(--c-brand);
            }
          }

          p {
            color: var(--c-alt-text);

            @include screen(md) {
              font-size: 14px;
            }

            @include screen(lg) {
              font-size: var(--fs-copy);
            }
          }
        }

        .circles-container {
          margin: 40px auto 0;
          width: fit-content;
          display: flex;
          gap: 5px;

          .circle {
            height: 8px;
            width: 8px;
            background-color: var(--c-light-grey);
            border-radius: 50%;
            transition: 0.2s ease;
          }
        }
      }
    }
  }
}
