@use "../abstracts" as *;

button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
  background: var(--c-brand);
  border: none;
  padding: 0.75em 3em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--ff-button);
  font-size: var(--fs-button);
  color: white;
  letter-spacing: var(--ls-button);
  position: relative;
  text-align: center;

  &.button-alt {
    background: none;
    border: 2px solid var(--c-brand);
    color: var(--c-brand);

    &:hover {
      background: var(--c-brand);
    }
  }

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition-property: width, height, opacity, visibility;
    transition: 0.4s ease;
  }

  &::before {
    top: -0.5em;
    left: -0.5em;
    border-top: 2px solid var(--c-brand);
    border-left: 2px solid var(--c-brand);
  }

  &::after {
    bottom: -0.5em;
    right: -0.5em;
    border-bottom: 2px solid var(--c-brand);
    border-right: 2px solid var(--c-brand);
  }

  &:hover {
    color: var(--c-white);

    &::before,
    &::after {
      opacity: 1;
      visibility: visible;
      width: 60%;
      height: 60%;
    }
  }
}
