@use "../abstracts" as *;

.swiper {
  position: relative;
  overflow: visible;
  overflow-x: clip;

  .swiper-navigation {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;

    .swiper-pagination {
      position: static;

      .swiper-pagination-bullet-active {
        background: var(--c-brand);
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      // border: 1px solid var(--c-brand);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      top: unset;
      bottom: 0;
      transform: translateY(20%);

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(assets/svg/right-chevron.svg);
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .swiper-button-prev {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
