@use "../abstracts" as *;

footer {
  background: var(--c-text);

  .container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 0;

    @include screen(md) {
      grid-template-columns: 1fr auto;
      max-width: 1500px;
    }

    .logo {
      display: flex;
      align-items: center;
      height: fit-content;
      margin: 0 auto 87px;

      @include screen(md) {
        margin: unset;
      }

      span {
        font-size: 30px;
        letter-spacing: 0.05em;
        color: var(--c-white);
      }
    }

    .menus {
      color: var(--c-white);
      display: flex;
      gap: 75px;
      grid-row: span 2;

      .menu {
        flex: 1;
      }

      .menu-title {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -0.5em;
          left: 0;
          width: 50px;
          height: 2px;
          background: var(--c-brand);
        }
      }

      ul.footer-menu {
        list-style-type: none;
        padding: 0;
        margin: 40px 0 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          a {
            color: var(--c-white);

            &:hover {
              color: var(--c-link-hover);
            }
          }
        }

        p {
          margin: 0;
        }
      }
    }
    .social-links {
      display: flex;
      align-items: flex-end;
      margin-top: 50px;

      ul {
        display: flex;
        gap: 25px;
        padding: 0;
        list-style-type: none;
        margin: 0;

        li {
          a {
            img {
              max-width: 20px;
              max-height: 20px;

              @include screen(md) {
                max-width: 30px;
                max-height: 30px;
              }
            }
          }
        }
      }
    }
    .subfooter {
      margin-top: 50px;
      padding: 50px 0;
      border-top: 2px solid var(--c-brand);
      color: var(--c-white);
      text-align: center;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include screen(md) {
        grid-column: span 2;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
      }

      a {
        color: var(--c-brand);
      }
    }
  }
}
