@use "../abstracts" as *;

header {
  background: var(--c-white);
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background 0.2s ease;

  @include screen(md) {
    padding: 20px;
  }

  @include screen(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 20px min(10vw, 150px);
  }

  .site-logo {
    a {
      display: flex;
      gap: 5px;
      align-items: center;

      @include screen(lg) {
        gap: 10px;
      }

      img {
        max-height: 40px;

        @include screen(lg) {
          max-height: unset;
        }
      }

      span {
        font-size: 20px;
        color: var(--c-text);
        transition: color 0.2s ease;

        @include screen(lg) {
          font-size: 30px;
          color: var(--c-white);
        }
      }
    }
  }

  nav {
    position: absolute;
    // text-align: left;
    top: 100%;
    left: 0;
    background: var(--c-alt-background);
    width: 100%;
    transform: scale(1, 0);
    transition: transform 0.4s ease;
    transform-origin: top;
    padding: 50px 20px;

    @include screen(lg) {
      all: unset;
      position: static;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 30px;
      flex-direction: column;
      text-align: center;

      @include screen(lg) {
        flex-direction: row;
        gap: 40px;
      }

      li {
        @include screen(lg) {
          margin: 0;
        }

        a {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 0.02em;
          color: var(--c-text);
          text-transform: uppercase;
          opacity: 0;
          transition: opacity 0.15s ease;
          position: relative;
          transition: color 0.2s ease;

          &.active {
            &::after {
              width: 100%;
            }
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -0.3em;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--c-brand);
            transition: width 0.4s ease;
          }

          &:hover {
            color: var(--c-text);

            @include screen(lg) {
              color: var(--c-white);
            }

            &:after {
              width: 100%;
            }
          }

          @include screen(lg) {
            opacity: 1;
            font-size: 18px;
            text-transform: unset;
            font-weight: 400;
            color: var(--c-white);
          }
        }
      }
    }
  }

  .nav-toggle {
    display: none;

    &:checked {
      ~ nav {
        transform: scale(1, 1);

        ul {
          li {
            a {
              opacity: 1;
              transition: opacity 0.4s ease 0.2s;
            }
          }
        }
      }

      ~ .nav-toggle-label {
        .toggle-line {
          &:nth-of-type(1) {
            transform: rotate(45deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .nav-toggle-label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    @include screen(md) {
      gap: 8px;
    }

    @include screen(lg) {
      display: none;
    }

    .toggle-line {
      width: 25px;
      height: 2px;
      background: black;
      transform-origin: 10%;
      transition: 0.2s ease;
      margin: 0;

      @include screen(md) {
        transform-origin: 2%;
        width: 30px;
      }
    }
  }

  &.scrolled {
    background: var(--c-white);
    // box-shadow: 0px -1px 11px -4px rgba(0, 0, 0, 0.75);
    .site-logo {
      span {
        color: var(--c-text);
      }
    }

    nav {
      ul {
        li {
          a {
            color: var(--c-text);
          }
        }
      }
    }
  }
}
