@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.woff2"),
    url("assets/fonts/Roboto-Regular.woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Bold.woff2"),
    url("assets/fonts/Roboto-Bold.woff");
  font-weight: 700;
  font-display: swap;
}
